<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="../../../styles.css">
</head>
<body class="event-page">
    {{template "header"}}

    <div class="container">
        <header>
            <h1>{{ .Name }}</h1>
            <div class="event-favorites">
                {{template "favorites-widget" dict "id" .Id}}
            </div>
            <div class="event-date">{{ .Date }}</div>
        </header>

        <section>
            <h2 class="table-header">Результаты</h2>
            <table class="data-table">
                <tbody>
                    {{ range .Results }}
                    <tr class="data-row" data-href="{{ .Href }}" data-id="{{ .Id }}">
                        <td class="col-pos">{{ .Position }}</td>
                        <td class="col-name">
                            <a href="{{ .Href }}">{{ .Name }} {{template "favorites-widget" dict "id" .Id}}</a>
                        </td>
                        <td class="col-assignment">
                            {{ .Assignment }}
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>

        <footer class="copyright">
            &copy; 2026 FPV Ladder Project
        </footer>
    </div>

    <script src="../../../scripts.js"></script>
</body>
</html>
