<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="../../../styles.css">
</head>
<body>
    {{template "header"}}

    <div class="container">
        <header>
            <h1>{{ .Name }}</h1>
            <div class="event-date">{{ .Date }}</div>
            <div class="event-favorites">
                {{template "favorites-widget" .Id}}
            </div>
        </header>

        <section>
            <h2>Результаты</h2>
            <table class="data-table">
                <tbody>
                    {{ range .Results }}
                    <tr class="data-row" data-href="{{ .Href }}" data-id="{{ .Id }}">
                        <td class="col-info">{{ .Position }}</td>
                        <td class="col-name">
                            <div class="event-row-content">
                                <a href="{{ .Href }}">{{ .Name }} {{template "favorites-tags" .Id}}{{template "favorites-widget" .Id}}</a>
                                <span class="meta-value">{{ .Assignment }}</span>
                            </div>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>

        <footer class="copyright">
            &copy; 2026 FPV Ladder Project
        </footer>
    </div>

    <script src="../../../scripts.js"></script>
</body>
</html>
