<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }}</title>
    <link rel="stylesheet" href="../../../styles.css">
</head>
<body class="pilot-page">
    {{template "header"}}

    <div class="container">
        <header>
            {{ range .Classes }}
            <div class="pilot-card class-content" data-class="{{ .ParamValue }}">
                <div class="pilot-card-name">{{ $.Name }}</div>
                <div class="pilot-card-label">Рейтинг <span style="text-transform: none;">{{ .ClassName }}</span></div>
                <div class="pilot-card-rating">{{ .Rating }}</div>
            </div>
            {{ end }}
            <div class="pilot-header-favorites">
                {{template "favorites-widget" .Id}}
            </div>
        </header>

        {{ range .Classes }}
        <section class="class-content" data-class="{{ .ParamValue }}">
            <h2>История соревнований</h2>
            <table class="data-table">
                <tbody>
                    {{ range .Assignments }}
                    <tr class="data-row" data-id="{{ .Id }}" data-href="{{ .Href }}">
                        <td class="col-info">{{ .Position }}</td>
                        <td class="col-name">
                            <div class="event-row-content">
                                <a href="{{ .Href }}">{{ .Name }} {{template "favorites-tags" .Id}}{{template "favorites-widget" .Id}}</a>
                                <div class="pilot-event-meta">
                                    <span class="event-date">{{ .Date }}</span>
                                    <span class="meta-value">{{ .Assignment }}</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </section>
        {{ end }}

        <footer class="copyright">
            &copy; 2026 FPV Ladder Project
        </footer>
    </div>

    <script src="../../../scripts.js"></script>
</body>
</html>
