{{define "favorites-tags"}}
<span class="favorites-tags" data-id="{{ . }}">
    <svg class="tag-icon heart"><use href="#icon-heart"></use></svg>
    <svg class="tag-icon star"><use href="#icon-star"></use></svg>
    <svg class="tag-icon flag"><use href="#icon-flag"></use></svg>
</span>
{{end}}

{{define "favorites-widget"}}
<span class="favorites-widget" data-id="{{ . }}">
    <svg class="widget-icon heart"><use href="#icon-heart"></use></svg>
    <svg class="widget-icon star"><use href="#icon-star"></use></svg>
    <svg class="widget-icon flag"><use href="#icon-flag"></use></svg>
</span>
{{end}}
